@*

*@

@{

}

<ejs-grid id="Grid" dataSource="@ViewBag.IsEmri" allowPaging>
    <e-grid-loadingIndicator indicatorType="Spinner" />
    <e-grid-pagesettings pageCount="10"></e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column field="IsEmriKodu" headerText="İş Emri Kodu" textAlign="Center"></e-grid-column>
        <e-grid-column field="" headerText="İş Emri Adı" textAlign="Center"></e-grid-column>
        <e-grid-column field="IsEmriDurum" headerText="Durumu" textAlign="Center" template="#statusTemplate"></e-grid-column>
        <e-grid-column field="UretimMiktari" headerText="Üretim Miktarı" textAlign="Center"></e-grid-column>
        <e-grid-column field="BaslangicTarihi" headerText="Başlangıç Tarihi" format="dd.MM.yyyy" textAlign="Center"></e-grid-column>
        <e-grid-column field="BitisTarihi" headerText="Bitiş Tarihi" format="dd.MM.yyyy" textAlign="Center"></e-grid-column>
    </e-grid-columns>
</ejs-grid>

<script id="statusTemplate" type="text/x-template">
    <div>
        ${if(IsEmriDurum=="Durdu")}
            <span class="e-badge e-badge-danger">Durdu</span>
        ${/if}
        ${if(IsEmriDurum=="Bekliyor")}
            <span class="e-badge e-badge-primary">Bekliyor</span>
        ${/if}
        ${if(IsEmriDurum=="Üretimde")}
            <span class="e-badge e-badge-success">Üretimde</span>
        ${/if}
    </div>
</script>

<style>
    .e-badge {
        width: 60px;
        margin: auto;
        justify-content: center;
        position: relative;
    }
</style>
