@page
@model ScientaScheduler.MVC.Pages.WorkManagement.WorkOrder.WorkOrderListModel
@{
}

<div class="container-fluid py-2">
    <div class="d-flex col-6">
        <ejs-grid id="Grid" dataSource="@Model.orderDto" allowPaging="true" autoFit="true">
            <e-grid-loadingIndicator indicatorType="Shimmer"></e-grid-loadingIndicator>
            <e-grid-columns>
                <e-grid-column field="IsEmriKodu" headerText="İş Emri Kodu" textAlign="Center"></e-grid-column>
                <e-grid-column field="UretimMiktari" headerText="Üretim Miktarı" textAlign="Center"></e-grid-column>
                <e-grid-column field="BaslangicTarihi" headerText="Başlangıç Tarihi" format="dd.MM.yyyy"  textAlign="Center"></e-grid-column>
                <e-grid-column field="BitisTarihi" headerText="Bitiş Tarihi" format="dd.MM.yyyy" textAlign="Center"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>