@inherits LayoutComponentBase
@inject NavigationManager navigationManager

<PageTitle>ScientaScheduler.Blazor</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="" target="_blank">@loginStr</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
    private string loginStr { get; set; } = string.Empty;

    [CascadingParameter]
    public Task<AuthenticationState> AuthSate { get; set; }

    protected override async Task OnInitializedAsync()
    {

        var authState = await AuthSate;
        if (authState.User.Identity!.IsAuthenticated)
        {
            loginStr = authState.User.Claims.Where(x => x.Type == "userFullName").First().Value;
        }
        else
        {
            navigationManager.NavigateTo("login");
        }

    }
}
